<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>

<body>
    <h1>show page</h1>
    <div class="container">
        <h1>Your Hikes Page</h1>
        <%=hikers.name%> is located in
            <%=hikers.location%>. <br />
                This hike is <%=hikers.miles%> miles. <br />
                    Description of the hike: <%=hikers.description%><br />
                        This hike is rated: <%=hikers.rating%>. <br />
                            <% if (hikers.completedHike===true){%>
                                This hike has been completed.
                                <% } else { %>
                                    This hike has not been completed yet.
                                    <% } %>


                                        <nav>
                                            <a href="/hike/new">Create a new hike</a>
                                        </nav>
                                        <nav>
                                            <a href="/hike/<%=hikers.id%>/edit">Update Your Hike</a>
                                        </nav>
    </div>
</body>

</html>
