<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>

<body>
    <div class="container">
        <h1>Your Hikes Page</h1>
        <%=hikes.name%> is located in <%=hikes.location%>. <br />
                This hike is <%=hikes.miles%> miles. <br />
                    Description of the hike: <%=hikes.description%> <br />
                        This hike is rated: <%=hikes.rating%>. <br />
                            <% if (hikes.completed===true){%>
                                This hike has been completed.
                                <% } else { %>
                                    This hike has not been completed yet.
                                    <% } %>


                                        <nav class="createNewHikeButton">
                                            <a href="/hike/new">Create a new hike</a>
                                        </nav>
                                        <nav class="updateCurrentHike">
                                            <a href="">Update Your Hike</a>
                                        </nav>
    </div>
</body>

</html>
