<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>Show Page</title>
</head>

<body>
    <div class="container">
        <h1>Your Hikes:</h1>
        <%=hikers.name%> is located in
            <%=hikers.location%>. <br />
                This hike is <%=hikers.miles%> miles total. <br />
                    Description of the hike: <%=hikers.description%><br />
                        This hike is rated: <%=hikers.rating%>. <br />
                            <% if (hikers.completedHike===true){%>
                                I have completed this hike. <br />
                                <% } else { %>
                                    I have not completed this hike yet! <br />
                                    <% } %>
                                        Picture from my hike: <br/><img src="<%=hikers.image%>"/>


                                            <nav>
                                                <a href="/hike/new">Create a new hike</a>
                                            </nav>
                                            <nav>
                                                <a href="/hike/<%=hikers.id%>/edit">Update Your Hike</a>
                                            </nav>
    </div>
</body>

</html>
