<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>Show Page</title>
</head>

<body>
    <div class="container">
        <h1>My Hike:</h1>
        <div class="hikersname"><%=hikers.name%> is located in
            <%=hikers.location%>. </div><br />
                <div class="hikersmiles">This hike is <%=hikers.miles%> miles total. </div><br />
                    <div class="hikersdescription">Description of the hike: <%=hikers.description%></div><br />
                        <div class="hikersrating">This hike is rated: <%=hikers.rating%>. </div><br />
                            <div class="completedhike"><% if (hikers.completedHike===true){%>
                                I have completed this hike. </div><br />
                                <% } else { %>
                                    <div class="notcompleted"> I have not completed this hike yet! </div><br />
                                    <% } %>
                                        <div class="hikerspic">Picture from my hike: <br/><img src="<%=hikers.image%>"/> </div>


                                            <nav class="newbtn">
                                                <a href="/hike/new">Create a new hike</a>
                                            </nav>
                                            <nav class="hikerbutton">
                                                <a href="/hike/<%=hikers.id%>/edit">Update Your Hike</a>
                                            </nav>
                                            <nav class="backbutton">
                                                <a href="/hike/">Back</a>
                                            </nav>
    </div>
</body>

</html>
